attrs==23.2.0
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==42.0.5
defusedxml==0.7.1
httpie==3.2.1
idna==3.6
libtorrent==2.0.9
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.5
packaging==23.2
ply==3.11
pulsemixer==1.5.1
pycparser==2.21
Pygments==2.17.2
PySocks==1.7.1
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.7.1
uc-micro-py==1.0.3
urllib3==1.26.18
